:root {
  --laranja-conpec: #F66C0E;
  --laranja-2: #D95B08;
  --laranja-1: #F99E62;

  --preto: #1A1A1A;
  --branco: #FCFCFC;

  --vermelho: #F50F26;

  --cinza-3: #676767;
  --cinza-2: #8A8A8A;
  --cinza-1: #E2E2E2;

  font-size: calc(15px + 0.4vw); /* todos os tamanhos de fontes serão baseados nesse */
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  color: var(--preto);
  background-color: var(--branco);
  font-family: var(--font-lato);
  line-height: 1;
}

li {
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  font-family: var(--font-poppins);
}
