:root {
  --preto-0: #161616;
  --cinza-1: #2E2E2E;
  --cinza-0: #222222;
  --laranja-2: #D35F10;
  --laranja-conpec: #F66C0E;
  --laranja-1: #FFA161;
  --branco-0: #FCFCFC;
}

body {
  margin: 0;
  background-color: var(--branco-0);
  font-family: var(--font-lato);
}


h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-poppins);
}
