:root {
  --laranja-conpec: #F66C0E;
  --branco-0: #FCFCFC;
}

body {
  margin: 0;
  background-color: var(--branco-0);
  font-family: var(--font-lato);
}


h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-poppins);
}
