.main * {
  letter-spacing: -0.05em;
  line-height: 100%;
  margin: 0;
  text-wrap: balance;
}

.sectHero {
  display: flex;
  align-items: center;
  margin: 80px 40px;
}

.sectHero small {
  display: block;
  margin-bottom: min(0.8rem, 10px);

  text-transform: uppercase;
  color: var(--cinza-2);
}

.sectHero > div > *:not(:last-child) {
  margin-bottom: 0.8rem;
}

.sectHero h1 {
  text-transform: uppercase;
  font-size: 4rem;
  color: var(--preto-1);
}

.sectHero h1 span {
  color: transparent;
  background: linear-gradient(to right, var(--laranja-1) 0%, var(--laranja-conpec) 50%);
  background-clip: text;
}

.sectHero p {
  color: var(--cinza-3);
  font-size: 1.2rem;
}

.sectHero svg {
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.15));
  min-width: 40vw;
}

.flexRow {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em 1em;
}

.sectSobre {
  display: flex;
  align-items: center;
  gap: 40px;

  margin-right: 64px;
  text-align: right;
}

.sectSobre img {
  width: 45vw;
  height: auto;
  object-fit: cover;
  align-self: stretch;
  z-index: -1;
}

.sectSobre h2 {
  color: var(--cinza-0);
  font-size: 6rem;
  text-transform: uppercase;
  margin-bottom: 0.3em;
}

.sectSobre h2 span {
  color: var(--laranja-conpec);
}

.sectSobre p {
  color: var(--cinza-1);
  font-size: 1.5rem;
}

@media screen and (max-width: 1200px) {
  .sectSobre {
    gap: 3.5vw;
    margin-right: 5vw;
  }

  .sectSobre h2 {
    font-size: 5rem;
  }

  .sectSobre p {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 900px) {
  .sectSobre h2 {
    font-size: 4rem;
  }


  .sectSobre img {
    width: 40vw;
  }

  .sectSobre div {
    padding: 10% 0;
  }

  .sectHero svg {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .sectSobre h2 {
    font-size: 3rem;
  }

  .sectSobre p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 500px) {
  .sectHero {
    margin: 20px 30px;
  }

  .flexRow {
    justify-content: space-between;
  }

  .flexRow > * {
    flex-grow: 1;
  }

  .sectSobre h2 {
    font-size: 2.5rem;
  }

  .sectSobre p {
    font-size: 0.8rem;
  }
}
