.sectHero {
  position: relative;
  color: white;
  padding: 5rem 10vw 5rem 60vw;
}

.sectHero .blackBg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
  background: black;
}

.sectHero img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  z-index: -1;
  object-fit: cover;

  mask-image: linear-gradient(90deg, black, transparent 80%);
}

.sectHero h1 {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.sectHero p {
  margin-bottom: 1.5rem;
}

.sectHero a {
  width: fit-content;
}

@media screen and (max-width: 1000px) {
  .sectHero {
    padding-left: 50vw;
  }
}

@media screen and (max-width: 600px) {
  .sectHero {
    padding: 4rem 2rem;
  }

  .sectHero img {
    mask-image: linear-gradient(90deg, #00000050, transparent 100%);
  }
}

.sectPassos {
  margin: 2rem 4rem;
}

.sectPassos h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
  margin: 0 5%;
}

.sectPassos ol {
  padding: 0;
  list-style: none;

  display: flex;
  justify-content: space-between;
}

.listaPassos {
  margin: 2rem 0;
  position: relative;
  align-items: center;

  text-transform: uppercase;
  font-family: var(--font-poppins);
  font-weight: bold;
  color: var(--laranja-conpec);
}

.listaPassos li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  flex: 1 1 0;
  width: 0;
}

.listaPassos li:not(.passoComplementar) .icon {
  width: 5em;
  height: 5em;
  border-radius: 100%;
  padding: 0.8em;

  background-color: white;
  color: var(--laranja-conpec);
  border: solid 4px var(--laranja-conpec);
}

.listaPassos li.passoComplementar .icon {
  width: 3em;
  height: 3em;
  border-radius: 100%;
  padding: 0.5em;

  background-color: var(--laranja-conpec);
  color: white;
}

.hlinePassos {
  position: absolute;
  top: calc(50% + 15px);
  left: 5em;
  right: 5em;

  background-color: var(--laranja-conpec);
  height: 5px;
  z-index: -1;
}

.listaServicos {
  gap: 2rem;
  align-items: stretch;
}

.listaServicos > li {
  position: relative;
  background-color: var(--laranja-conpec);
  border-radius: 10px;
  padding: 1em;
  width: 0;

  flex: 1 1 0;

  color: white;
}

.listaServicos hgroup {
  text-align: center;
  text-transform: uppercase;
}

.listaServicos h3 {
  font-size: 1.4em;
}

.listaServicos ul {
  margin-top: 1em;
  padding-left: 1em;
  list-style: disc;
}

.listaServicos ul > li {
  margin-bottom: 0.5em;
}

.listaServicos a {
  position: absolute;
  bottom: -1.8em;
  /* centralizar link */
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
}

@media screen and (max-width: 1130px) {
  .sectPassos {
    margin: 2rem;
  }
  .listaServicos {
    font-size: 0.8rem;
    gap: 1rem;
  }
}

@media screen and (max-width: 775px) {
  .listaPassos {
    display: none !important;
  }

  .listaServicos {
    flex-direction: column;
    font-size: 1rem;

    margin: 1em 3em;
    gap: 2.5em;
  }

  .listaServicos hgroup p {
    display: none;
  }

  .listaServicos > li {
    width: auto;
  }
}

@media screen and (max-width: 500px) {
  .sectPassos h2 {
    font-size: 2rem;
  }

  .listaServicos {
    margin: 1em 0.5em;
  }
}
